{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    
    <script src="{% static 'crm/paciente/js/list.js' %}"></script>

    {% comment %} <script src="{% static 'crm/paciente/js/modal.js' %}"></script> {% endcomment %}
{% endblock %}

{% block columns %}
    <th>Nro</th>
    <th>Propietario</th>
    <th>PDF Declaracion jurada</th>
    <th>Nombre de la mascota</th>
    <th>Edad</th>
    <th>Tipo de mascota</th>
    <th>Sexo</th>
    <th>Peso</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript_list %}

{% endblock %}