{% extends 'list.html' %}
{% load static %}
{% block head_list %}
   <script src="{% static 'crm/hospitalizacion/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th class="center">Nro</th>
    <th class="center">Paciente</th>
    <th class="center">Fecha de ingreso</th>
    <th class="center">Medicina</th>
    <th class="center">Días internados</th>
    <th class="center">Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript_list %}

{% endblock %}